
<mat-card class="card-bg card mat-elevation-z5">
  <mat-card-header class="mb-2">
    <mat-card-title>Companies List</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-table [dataSource]="companyDataSource" #matSort1="matSort" matSort class="mat-elevation-z8" matSortDirection="desc">
      <!-- Position Column -->
      <ng-container matColumnDef="companyCode">
        <mat-header-cell *matHeaderCellDef mat-sort-header> CompanyCode. </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.companyCode}} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="companyName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.companyName}} </mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="ceo">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ceo </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.ceo}} </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="turnover">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Turnover </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.turnover}} </mat-cell>
      </ng-container>

      <!-- <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button color="primary" matTooltip="Edit" (click)="onEdit(row,1)">
            <mat-icon>create</mat-icon>
          </button>
          <button mat-icon-button color="warn" matTooltip="Delete" (click)="onDelete(row,1)">
            <mat-icon>delete_outline</mat-icon>
          </button>
        </mat-cell>
      </ng-container> -->

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>

  </mat-card-content>

</mat-card>
