<mat-card>
<div>
  <mat-card>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th colspan="1" width="48%">CompanyCode</th>
            <th colspan="1">CompanyName</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="1">CC1</td>
            <td colspan="1">CTS</td>
          </tr>
        </tbody>
      </table>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered">

          <tbody>

            <tr>
              <th colspan="1">CEO Name</th>
              <td colspan="1">RAM</td>
            </tr>
          </tbody>
        </table>
        </div>
  </mat-card>
</div>
<!-- <mat-divider></mat-divider> -->
<app-stocks-list></app-stocks-list>
</mat-card>
