
<ngx-ui-loader
  [fgsColor]="ngxUiLoaderService.config.fgsColor!"
  [fgsPosition]="ngxUiLoaderService.config.fgsPosition!"
  [fgsSize]="ngxUiLoaderService.config.fgsSize!"
  [fgsType]="ngxUiLoaderService.config.fgsType!"
  [bgsColor]="ngxUiLoaderService.config.bgsColor!"
  [bgsOpacity]="ngxUiLoaderService.config.bgsOpacity!"
  [bgsPosition]="ngxUiLoaderService.config.bgsPosition!"
  [bgsSize]="ngxUiLoaderService.config.bgsSize!"
  [bgsType]="ngxUiLoaderService.config.bgsType!"
  [gap]="ngxUiLoaderService.config.gap!"
  [logoPosition]="ngxUiLoaderService.config.logoPosition!"
  [logoSize]="ngxUiLoaderService.config.logoSize!"
  [logoUrl]="ngxUiLoaderService.config.logoUrl!"
  [overlayColor]="ngxUiLoaderService.config.overlayColor!"
  [pbColor]="ngxUiLoaderService.config.pbColor!"
  [pbDirection]="ngxUiLoaderService.config.pbDirection!"
  [pbThickness]="ngxUiLoaderService.config.pbThickness!"
  [hasProgressBar]="ngxUiLoaderService.config.hasProgressBar!"
  [text]="ngxUiLoaderService.config.text!"
  [textColor]="ngxUiLoaderService.config.textColor!"
  [textPosition]="ngxUiLoaderService.config.textPosition!"
></ngx-ui-loader>

<router-outlet></router-outlet>
