<!-- <div *ngIf="!isForm">
<form [formGroup]="loginForm">
<mat-card id="card" style="text-align: center;">
	<mat-card-title>
		Login
	</mat-card-title>

	<mat-card-content>

		<mat-form-field appearance="outline">
			<input matInput formControlName="userName" placeholder="username">
		</mat-form-field><br/>

		<mat-form-field appearance="outline">
			<input matInput formControlName="password" placeholder="password">
		</mat-form-field><br/>
    <div mat-dialog-action [align]="'center'">
      <button mat-raised-button color="primary" style="margin-right:5px;" (click)="login()">Signin</button>
      <button mat-raised-button color="primary" style="margin-right:5px;" (click)="goToSingup()">Signup</button>
    </div>
	</mat-card-content>
</mat-card>
</form>
</div>
<div *ngIf="isForm">
  <form [formGroup]="registerForm">
  <mat-card id="card" style="text-align: center;">
    <mat-card-title>
      Registration
    </mat-card-title>

    <mat-card-content>

      <mat-form-field appearance="outline">
        <input matInput formControlName="name" placeholder="username">
      </mat-form-field><br/>

      <mat-form-field appearance="outline">
        <input matInput formControlName="password" placeholder="password">
      </mat-form-field><br/>
      <mat-radio-group formControlName="roles">
        <mat-radio-button mat-stroked-button value="ROLE_ADMIN" >ADMIN</mat-radio-button>
        <mat-radio-button mat-stroked-button value="ROLE_USER" >USER</mat-radio-button>
      </mat-radio-group>

      <div mat-dialog-action [align]="'center'">
        <button mat-raised-button color="primary" style="margin-right:5px;" (click)="register()">Register</button>
        <button mat-raised-button color="primary" style="margin-right:5px;" (click)="bactToSignin()">Signin</button>
      </div>
    </mat-card-content>
  </mat-card>
  </form>
  </div> -->


  <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center" *ngIf="!isForm">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Log in</mat-card-title>
      </mat-card-header>
      <form class="example-form" [formGroup]="loginForm">
        <mat-card-content>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Username" formControlName="userName" required>
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Password</mat-label>
            <input type="password" matInput placeholder="Password" formControlName="password" required>
          </mat-form-field>
        </mat-card-content>
        <!-- <button mat-stroked-button color="accent" class="btn-block">Log in</button> -->
        <div mat-dialog-action [align]="'center'">
          <button mat-raised-button color="primary" style="margin-right:5px;" (click)="login()">Signin</button>
          <button mat-raised-button color="primary" style="margin-right:5px;" (click)="goToSingup()">Signup</button>
        </div>
      </form>
    </mat-card>
  </div>

  <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center" *ngIf="isForm">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Register</mat-card-title>
      </mat-card-header>

      <form class="example-form" [formGroup]="registerForm">

        <mat-card-content>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Username" formControlName="name" required>
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="Password" formControlName="password" required>
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Choose Role</mat-label>
            <mat-select formControlName="roles" required>
              <mat-option [value]="role.value" *ngFor="let role of roles">{{role.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </mat-card-content>

        <!-- <button mat-stroked-button color="accent" class="btn-block">Register</button> -->
        <div mat-dialog-action [align]="'center'">
          <button mat-raised-button color="primary" style="margin-right:5px;" (click)="register()">Register</button>
          <button mat-raised-button color="primary" style="margin-right:5px;" (click)="bactToSignin()">Signin</button>
        </div>
      </form>
    </mat-card>
  </div>
