
<div class="container">
  <div style="margin-top: 10px;">
    <mat-form-field appearance="standard">
      <mat-label >Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Cognizant" #input>
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="stockDataSource" matSort class="mat-elevation-z8" matSortDirection="desc">
        <!-- CompanyCode Column -->
        <ng-container matColumnDef="stockCode">
          <mat-header-cell *matHeaderCellDef mat-sort-header> StockCode. </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.stockCode}} </mat-cell>
        </ng-container>

        <!-- CompanyName Column -->
        <ng-container matColumnDef="stockName">
          <mat-header-cell *matHeaderCellDef mat-sort-header> StockName </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.stockName}} </mat-cell>
        </ng-container>

        <!-- Ceo Column -->
        <ng-container matColumnDef="price">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Price </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.price}} </mat-cell>
        </ng-container>

        <!-- Turnover Column -->
        <ng-container matColumnDef="startDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header> StartDate </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.startDate}} </mat-cell>
        </ng-container>

        <!-- Website Column -->
        <ng-container matColumnDef="endDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header> EndDate </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.endDate}} </mat-cell>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button mat-icon-button color="primary" matTooltip="Update" (click)="onStockUpdate(row);$event.stopPropagation();">
              <mat-icon>create</mat-icon>
            </button>
            <button mat-icon-button color="warn" matTooltip="Delete" (click)="onStockDelete(row);$event.stopPropagation();">
              <mat-icon>delete_outline</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="getStockDetails(row)"></mat-row>

        <!-- <mat-row *matNoDataRow>No data matching the filter "{{input.value}}"</mat-row> -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>

      </table>

      <mat-paginator [hidden]="!stockDataSource.data.length" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
  </div>
</div>
