<mat-card>
  <mat-card style="height: 50px">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <mat-form-field appearance="outline">
            <mat-label>Start Date</mat-label>
            <input
              matInput
              [matDatepicker]="picker1"
              [formControl]="startDate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker1"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-sm-4">
          <mat-form-field appearance="outline">
            <mat-label>End Date</mat-label>
            <input
              matInput
              [matDatepicker]="picker2"
              [min]="startDate.value"
              [formControl]="endDate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker2"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-sm-1">
          <button mat-raised-button color="primary" style="width: 130px;" (click)="searchStocksList()">
            <span class="spacing">Search</span>
          </button>
        </div>
        <div class="col-sm-1">
          <button mat-raised-button color="primary" style="width: 130px; margin-left: 35px;" (click)="resetSearchStocksList()">
            <span class="spacing">Reset Search</span>
          </button>
        </div>
        <div class="col-sm-2">
          <button
            mat-raised-button
            color="primary"
            (click)="addDialog()"
            style=" margin-top: 4px;margin-left: 70px; height: 35px; width: 130px;">Add Stock
          </button>
        </div>
      </div>
    </div>
  </mat-card>
  <div>
    <mat-card>
      <div class="container">
        <div style="margin-top: 10px">
          <!-- <mat-form-field appearance="standard">
          <mat-label >Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Cognizant" #input>
        </mat-form-field> -->

          <div class="mat-elevation-z8">
            <table
              mat-table
              [dataSource]="stockDataSource"
              matSort
              class="mat-elevation-z8"
              matSortDirection="desc"
            >
              <!-- CompanyCode Column -->
              <ng-container matColumnDef="stockCode">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                  StockCode.
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  {{ element.stockCode }}
                </mat-cell>
              </ng-container>

              <!-- CompanyName Column -->
              <ng-container matColumnDef="stockName">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                  StockName
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  {{ element.stockName }}
                </mat-cell>
              </ng-container>

              <!-- Ceo Column -->
              <ng-container matColumnDef="price">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                  Price
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  {{ element.price }}
                </mat-cell>
              </ng-container>

              <!-- Turnover Column -->
              <ng-container matColumnDef="startDate">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                  StartDate
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  {{ element.startDate }}
                </mat-cell>
              </ng-container>

              <!-- Website Column -->
              <ng-container matColumnDef="endDate">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                  EndDate
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  {{ element.endDate }}
                </mat-cell>
              </ng-container>

              <!-- Description Column -->
              <ng-container matColumnDef="description">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                  Description
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  {{ element.description }}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <button
                    mat-icon-button
                    color="accent"
                    matTooltip="Update"
                    (click)="updateStock(row); $event.stopPropagation()"
                  >
                    <mat-icon>update</mat-icon>
                  </button>
                  <!-- <button
                    mat-icon-button
                    color="warn"
                    matTooltip="Delete"
                    (click)="onStockDelete(row); $event.stopPropagation()"
                  >
                    <mat-icon>delete</mat-icon>
                  </button> -->
                </mat-cell>
              </ng-container>

              <mat-header-row
                *matHeaderRowDef="displayedColumns"
              ></mat-header-row>
              <mat-row
                *matRowDef="let row; columns: displayedColumns"
              ></mat-row>

              <!-- <mat-row *matNoDataRow>No data matching the filter "{{input.value}}"</mat-row> -->
              <!-- <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
              </tr> -->
            </table>

            <mat-paginator
              [hidden]="!stockDataSource.data.length"
              [pageSize]="5"
              [pageSizeOptions]="[5, 10]"
            ></mat-paginator>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
    <div>
      <mat-card>
        <div class="container table-responsive">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <th colspan="1">Min</th>
                <td colspan="1">{{ stockMinMaxAvgDto?.min }}</td>
              </tr>
              <tr>
                <th colspan="1">Max</th>
                <td colspan="1">{{ stockMinMaxAvgDto?.max }}</td>
              </tr>
              <tr>
                <th colspan="1">Avg</th>
                <td colspan="1">{{ stockMinMaxAvgDto?.avg }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </mat-card>
    </div>
</mat-card>
